<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684650220636-ol5koha7llv9cj8u4rs17e7mtdrst8qk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684650220636-ol5koha7llv9cj8u4rs17e7mtdrst8qk</string>
	<key>API_KEY</key>
	<string>AIzaSyBhnQB3apGBwqsC-oKJTBMFrtWM6_7szlM</string>
	<key>GCM_SENDER_ID</key>
	<string>684650220636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.singubangisda.durtect</string>
	<key>PROJECT_ID</key>
	<string>durtect-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>durtect-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684650220636:ios:fbfb45e4b96bb80a826a99</string>
	<key>DATABASE_URL</key>
	<string>https://durtect-auth-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>